/* 디테일 페이지 */
.container {
    width: 540px;
    background-color: hsl(0, 0%, 9%);
    padding-top: 80px;
    height: 94vh;
    margin: 0 auto;
    /* 나머지 6vh 는 footer 에 적용*/
}

.backdrop_span {
    z-index: 1;
    position: relative;
    filter: blur(8px) opacity(20%);
}
.poster_span {
    z-index: 2;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
}
.Info {
    color: #bbbbbb;
    position: relative;
    top: -60px;
    text-align: center;
}

.title {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    text-shadow: 2px 1.5px 3px rgb(126, 126, 126);
    margin-bottom: 30px;
    margin-top: 50px;
}
.Info span {
    margin-right: 8px;
}
.openday {
    color: #46d369;
    padding: 1px 4px;
    border-radius: 3px;
    border: 1px solid #dadada;
    margin-right:5px;
}
.overview {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
    padding: 10px 20px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 12; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

@media screen and (max-width: 767px){
	.container{
        height: 122.5vh;
    }

    .poster_span {
    position: absolute;
    left: 85%;
    transform: translateX(-85%);
    }
} 